* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #19192d;
    color: #fff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    width: 100%;
    border-radius: 8px;
  }
  